.machine-on{
    height: 100px;
    width: 100px;
    background :green;
    border-radius: 50%;
    overflow: auto;
    color: white;
    text-align: center;
    padding: 10px;
}

.machine-off{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    overflow: auto;
    color: white;
    text-align: center;
    padding: 10px;
}

.machine-container{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    flex-flow:wrap;
}